:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}


#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80vw;
  background: #fff;
}


.mainpage{
  display: grid;
  grid-template-columns: 1fr 6fr;
  border: solid 1px white;
  height: 80vh;
}