.sidebar{
    border-radius: 1rem;
    background: rgb(247, 247, 245);
    padding: 1rem;
}

#link{
    margin: 1rem;
    outline: none;

}
input[type="text"]{
    font-size:18px;
}


.boton{
    margin: 1rem;
    color: #000;
    background: #fff;
    transition: 0.3s;
}

.boton:hover{
    color: #fff;
    background: #4FA0EC;
    outline: none;
}
.title{
    font-size: 3rem;
}